<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basecalendar</title>
  </head>
  <body>
    <div>
      <h1>Basecalendar</h1>
      <p>Oh wow, it works!</p>
      <a href="/auth/basecamp">Sign in</a>
    </div>
  </body>
</html>
